@import "./mixins.scss";

.product-name {
    padding: 50px 0;
  
    &-img-wrapper {
      height: 100%;
      min-height: 214px;
    }
  
    &-title {
      font-size: 59px;
      line-height: 59px;
      margin-bottom: 51px;
      @include testShadow;
    }
  
    &-list {
      @include testShadow;
      padding: 0;
      font-size: 20px;
      list-style: none;
      line-height: 1.8;
    }
  }